<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lugares"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place?.place || 'Detalle' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="detail-container" *ngIf="place">
    <div class="main-image">
      <img [src]="place.imageUrl" [alt]="place.place" />
    </div>
    
    <div class="detail-body">
      <h2>{{ place.place }}</h2>
      <div class="meta">{{ place.location }} • {{ place.rating }} ★</div>

      <h3>Galería</h3>
      <div class="gallery" *ngIf="place.gallery && place.gallery.length > 0; else noGallery">
        <img class="thumb" *ngFor="let g of place.gallery" [src]="g" (click)="openImage(g)" />
      </div>
      <ng-template #noGallery>
        <p>No hay imágenes adicionales disponibles.</p>
      </ng-template>

      <h3>Comentarios</h3>
      <div *ngIf="place.comments?.length; else noComments">
        <div class="comment" *ngFor="let c of place.comments">
          <strong>{{ c.user }}</strong>
          <p>{{ c.text }}</p>
          <small>{{ c.created | date:'short' }}</small>
        </div>
      </div>
      <ng-template #noComments>
        <p>No hay comentarios aún. Sé el primero.</p>
      </ng-template>

      <ion-item>
        <ion-input placeholder="Tu comentario" [(ngModel)]="newComment"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Valoración</ion-label>
        <ion-range min="1" max="5" step="1" [(ngModel)]="newRating"></ion-range>
      </ion-item>
      <ion-button expand="block" (click)="submitFeedback()">Enviar</ion-button>
    </div>
  </div>

  <!-- Overlay para imagen completa -->
  <div class="overlay" *ngIf="showModal" (click)="closeModal()">
    <div class="overlay-inner">
      <img [src]="selectedImage" />
    </div>
  </div>

  <!-- Mensaje si no se encuentra el lugar -->
  <div class="not-found" *ngIf="!place">
    <h2>Lugar no encontrado</h2>
    <p>Lo sentimos, no pudimos encontrar la información de este lugar.</p>
    <ion-button routerLink="/lugares">Volver a lugares</ion-button>
  </div>
</ion-content>
