<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <!-- Bottom navigation similar to Instagram: Home and Search -->
  <ion-footer *ngIf="showBottomNav" class="bottom-nav" translucent>
    <ion-toolbar class="bottom-toolbar">
      <ion-buttons slot="start"></ion-buttons>
      <div class="nav-inner">
        <ion-button class="nav-btn" routerLink="/home" (click)="navigateHome()" fill="clear">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
        <ion-button class="nav-btn" routerLink="/lugares" (click)="navigateLugares()" fill="clear">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </div>
      <ion-buttons slot="end"></ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-app>
